---
layout: default
title: website
---
<h1>website</h1>
<p>This is my personal website, currently under construction.</p>
<p><a href="/about.html">about</a> / <a href="/links.html">links</a> / <a href="/gallery/">gallery</a></p>
<h2>Articles</h2>
{% for post in site.posts limit:4 %}<a href="{{ post.url }}">{{ post.title | escape }}</a><br>{% endfor %}
......<br>
<a href="/articles/">click here to see all articles</a>
<h2>Projects</h2>
{% for project in site.data.projects %}<a href="{{ project.url }}">{{ project.title | escape }}</a><br>{% endfor %}
